:root {
    --grass: #78c850;
    --grass2: #4e8234;
    --fire: #ed4c30;
    --fire2: #9c531f;
    --lightning: #f8d030;
    --lightning2: #a1871f;
    --metal: #a8a8c0;
    --metal2: #6d6d8e;
    --water: #6890f0;
    --water2: #445e9c;
    --fighting: #e06d11;
    --fighting2: #7d1f1a;
    --colorless: #a8a878;
    --colorless2: #6d6d4e;
    --darkness: #595d62;
    --darkness2: #3a3a3a;
    --psychic: #8e4b9e;
    --psychic2: #5d2e63;
    --fairy: #c6418a;
    --fairy2: #9b6470;
    --dragon: #656531;
    --dragon2: #3f3f1f;
}

.fire {
    --type-color: var(--fire);
    --type-color2: var(--fire2);
    --filter: none;
}

.water {
    --type-color: var(--water);
    --type-color2: var(--water2);
    --filter: brightness(0) saturate(100%) invert(43%) sepia(54%) saturate(545%) hue-rotate(160deg) brightness(97%) contrast(94%);
}

.grass {
    --type-color: var(--grass);
    --type-color2: var(--grass2);
    --filter: brightness(0) saturate(100%) invert(70%) sepia(85%) saturate(439%) hue-rotate(50deg) brightness(102%) contrast(96%);
}

.lightning {
    --type-color: var(--lightning);
    --type-color2: var(--lightning2);
    --filter: brightness(0) saturate(100%) invert(99%) sepia(39%) saturate(4281%) hue-rotate(339deg) brightness(112%) contrast(97%)
}

.metal {
    --type-color: var(--metal);
    --type-color2: var(--metal2);
    --filter: brightness(0) saturate(100%) invert(95%) sepia(0%) saturate(7452%) hue-rotate(322deg) brightness(100%) contrast(115%);
}

.fighting {
    --type-color: var(--fighting);
    --type-color2: var(--fighting2);
    --filter: brightness(0) saturate(100%) invert(99%) sepia(82%) saturate(1503%) hue-rotate(301deg) brightness(113%) contrast(93%);
}

.colorless {
    --type-color: var(--colorless);
    --type-color2: var(--colorless2);
    --filter: brightness(0) saturate(100%) invert(95%) sepia(0%) saturate(7452%) hue-rotate(322deg) brightness(100%) contrast(115%);
}

.darkness {
    --type-color: var(--darkness);
    --type-color2: var(--darkness2);
    --filter: brightness(0) saturate(100%) invert(21%) sepia(12%) saturate(436%) hue-rotate(341deg) brightness(94%) contrast(91%);
}

.psychic {
    --type-color: var(--psychic);
    --type-color2: var(--psychic2);
    --filter: brightness(0) saturate(100%) invert(43%) sepia(17%) saturate(1545%) hue-rotate(246deg) brightness(91%) contrast(94%);
}

.fairy {
    --type-color: var(--fairy);
    --type-color2: var(--fairy2);
    --filter: brightness(0) saturate(100%) invert(43%) sepia(45%) saturate(4266%) hue-rotate(302deg) brightness(83%) contrast(85%);
}

.dragon {
    --type-color: var(--dragon);
    --type-color2: var(--dragon2);
    --filter: brightness(0) saturate(100%) invert(47%) sepia(49%) saturate(452%) hue-rotate(19deg) brightness(95%) contrast(92%);
}