---
import Layout from '../layouts/Layout.astro';
import PageTitle from "../components/PageTitle.astro";
---

<Layout title="Confirm Cart">
	<main>
		<PageTitle
				title="Confirm Cart"
		></PageTitle>
		<div class="purchase-resume-container">
			<h2>Resume</h2>
			<h3>Articles</h3>
			<div class="purchase-resume-content"></div>
			<div class="purchase-resume-cost"></div>
			<div class="purchase-resume-cost">

			</div>
			<div class="purchase-resume-address">
				<h3>Delivery address</h3>
				<p class="address">Ynov Aix Campus</p>
			</div>
			<a href="/jsp">
				<button>Confirm purchase</button>
			</a>
		</div>

	</main>
</Layout>
<style>
    main {
        margin: auto 15rem;
        display: flex;
        flex-direction: column;
        padding: .6rem;
        color: white;
        font-size: 20px;
        line-height: 1.6;
        max-width: 100vw;
        max-height: 100vh;
    }

	.purchase-resume-container {
		background-color: #232323;
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		width: 20rem;
		height: fit-content;
	}

    .purchase-resume-container > a > button {
        background-color: #ff9e00;
        font-size: 1.2rem;
        padding: 1rem;
        border-radius: 1rem;
        border: none;
        transition: all 0.2s ease-in-out;
        width: fit-content;
    }

    .purchase-resume-container > a > button:hover {
        background-color: #ffb444;
        cursor: pointer;
    }

    .purchase-resume-container > h2 {
        margin: 0;
    }

    .purchase-resume-content-item {
        display: flex;
        justify-content: space-between;
    }

    .purchase-resume-content-item > .item-info {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
</style>
<style is:inline>
	.purchase-resume-content-item {
		display: flex;
		justify-content: space-between;
	}

	.purchase-resume-content-item p {
		margin: 0;
	}
	.purchase-resume-content-item > .item-info {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}
</style>
<script>
	import type {Card} from "../types";

	const cart = JSON.parse(localStorage.getItem('cart') || '[]') as Card[];

	console.log('cart = ', cart);


	const response = await fetch(
		'/local-storage',
		{
			method: 'POST',
			body: JSON.stringify(cart),
		},
	);


	const purchaseResumeContainer = document.querySelector('.purchase-resume-content') as HTMLDivElement;
	const purchaseResumeCost = document.querySelector('.purchase-resume-cost') as HTMLDivElement;

	const parser = new DOMParser();
	let string = await response.text();
	string = string.replace(/<script\b[^<]*(?:(?!<\/script>)<[^<]*)*<\/script>/gi, '');
	string = string.replace(/<!DOCTYPE html>/gi, '');
	string = string.replace('&amp;', 'and');

	const doc = parser.parseFromString(string, 'text/html');

	const cards = doc.querySelector('.cards') as HTMLDivElement;
	purchaseResumeContainer.append(...doc.querySelectorAll('.purchase-resume-content-item'));
	purchaseResumeCost.append(...doc.querySelectorAll('.total-price'));

	const address = document.querySelector('.address') as HTMLParagraphElement;
	const addressFromLocalStorage = localStorage.getItem('address');
	if (addressFromLocalStorage) {
		address.textContent = addressFromLocalStorage;
	}
</script>
