---
import {getCards, getRarities, getSets, getTypes} from '$helpers/data.ts';
import Layout from '@layouts/Layout.astro';
import CardGrid from '@components/list/CardGrid.svelte';

let cards = await getCards();

// unique by image
cards = cards.filter((card, index, self) => self.findIndex(c => c.image === card.image) === index);
cards = cards.filter((card) => card.price);

const sets = await getSets();
const rarities = await getRarities();
const types = await getTypes();

sets.sort((a, b) => a.name.localeCompare(b.name));
rarities.sort((a, b) => a.localeCompare(b));
types.sort((a, b) => a.localeCompare(b));
---

<Layout
	title="Card List"
	image={{
		url: "https://pokestore.ayfri.com/pokestore.png",
		alt: "Pokémon TCG Card List",
	}}
>
	<main class="max-lg:px-0 text-white text-lg flex flex-col flex-1 gap-2">
		<CardGrid client:load {cards} {sets} {rarities} {types}/>
	</main>
</Layout>

<style is:global>
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
</style>
