---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
---

<Layout title="Pokéstore">
    <main>
        <Header cards_href="/cards"
                username="anta"
                cart_icon="/icons/cart.svg"
                cart_href="/cart">
        </Header>
        <!--card_name: string;-->
        <!--card_img: string;-->
        <!--type: string;-->
        <!--number: number;-->
        <!--set: string;-->
        <!--subtypes: string;-->
        <!--supertype: string;-->
        <!--rarity: string;-->
        <Card card_name="Bulbasaur"
              card_img="https://images.pokemontcg.io/swshp/SWSH303_hires.png"
                type="Grass"
                number="1"
                set="swshp"
                subtypes="basic"
                supertype="pokémon"
                rarity="promo">
        </Card>

    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: .6rem;
        color: white;
        font-size: 20px;
        line-height: 1.6;
        max-width: 100vw;
        max-height: 100vh;
    }
</style>
