---
import Filters from '../components/list/Filters.astro';
import ScrollToBottom from '../components/list/ScrollToBottom.astro';
import {getCards} from '../helpers/data';
import Layout from '../layouts/Layout.astro';
import Card from "../components/list/Card.astro";
import PageTitle from "../components/PageTitle.astro";

let cards = await getCards();
cards = cards.filter((card, index, self) => card.pokemon && self.findIndex(c => c.pokemon.id === card.pokemon.id) === index);
cards = cards.sort((a, b) => a.pokemon.id - b.pokemon.id || b.price - a.price);
cards = cards.map(card => {
	card.price ||= 100_000;
	return card;
});
---

<Layout
	title="Card List"
	image={{
		url: "https://pokestore.ayfri.com/pokestore.png",
		alt: "Pokémon TCG Card List",
	}}
>
	<main class="p-2 max-lg:px-0 text-white text-lg flex flex-col h-[calc(100lvh-3rem)] gap-2 mb-40">
		<ScrollToBottom/>

		<div class="w-full mx-auto max-lg:px-2">
			<div class="flex max-lg:flex-col justify-between mx-28 max-lg:m-0 pb-2 lg:pb-3 items-center border-b-white border-b-[6px] max-lg:border-b-4">
				<PageTitle title="Card List"/>
				<div class="flex flex-col max-lg:flex-row items-end gap-3 leading-normal max-lg:-mt-1.5">
					<Filters cards={cards}/>
				</div>
			</div>
		</div>

		<div
			class="grid grid-cols-[repeat(auto-fit,minmax(30rem,1fr))] place-items-center justify-center w-full overflow-y-scroll overflow-x-hidden scrollbar-hide"
			id="cards-grid"
		>
			{cards.map(card =>
				<Card card={card}/>,
			)}
		</div>
	</main>
</Layout>

<style>
	body {
		overflow: hidden;
	}
</style>
