---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CardList from "../components/CardList.astro";
import PageTitle from "../components/PageTitle.astro";


interface Card {
	name: string;
	imageUrl: string;
}

const response = await fetch(`${import.meta.env.API_URL}/cards`)
const cards = await response.json() as Card[];
---

<Layout title="Pokéstore">
	<main>
		<Header cards_href="/cards"
		        username="anta"
		        cart_icon="/icons/cart.svg"
		        cart_href="/cart">
		</Header>
		<!--card_name: string;-->
		<!--card_img: string;-->
		<!--type: string;-->
		<!--number: number;-->
		<!--set: string;-->
		<!--subtypes: string;-->
		<!--supertype: string;-->
		<!--rarity: string;-->
		<PageTitle title="Card List"></PageTitle>
		{cards.map(card => <CardList card={card}/>)}
	</main>
</Layout>

<style>
    main {
        margin: auto;
        padding: .6rem;
        color: white;
        font-size: 20px;
        line-height: 1.6;
        max-width: 100vw;
        max-height: 100vh;
    }
</style>
