---
import Form from '../components/Form.astro';
import Layout from '../layouts/Layout.astro';

interface User {
	username: string;
	email: string;
	password: string;
}

const fields = {
	username: {label: "Username", required: true, autocomplete: true, type: "text", placeholder: "Jérome"}, password: {
		label: "Password", required: true,
		autocomplete: true, placeholder: "My-Passw0rd", type: "password"
	},
};
---
<Layout title="login">
	<main>
		<div class="content">
			<Form route="/auth/login" fields={fields} submitLabel="Login" title="Login">
				<a href="/signup">Don't have an account yet ?</a>
			</Form>
		</div>
	</main>
</Layout>

<script>
	import {displayError, handleForm} from '../utils/form';

	handleForm<User>(async (user, response, form) => {
		if (response.status === 200) window.location.href = '/';
		else if (response.status === 401) displayError(await response.text(), form);
		else displayError('An error occurred, please try again later', form);
	}, false);
</script>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	a {
		color: #5febff;
	}

	.content {
		height: 50vh;
		width: 25rem;
		padding-top: 10rem;
	}
</style>
