---
import Form from '../components/Form.astro';
import Layout from '../layouts/Layout.astro';

interface User {
	username: string;
	email: string;
	password: string;
}

const fields = {
	username: {
		label: "Username",
		required: true,
		autocomplete: true,
		type: "text",
		placeholder: "Jérome",
	},
	password: {
		label: "Password",
		required: true,
		autocomplete: true,
		placeholder: "My-Passw0rd",
		type: "password",
	},
};

export const prerender = true;
---
<Layout title="login">
	<main>
		<div class="content">
			<Form route="/auth/login" fields={fields} submitLabel="Login" title="Login">
				<a href="/signup">Don't have an account yet ?</a>
			</Form>
		</div>
	</main>
</Layout>

<script>
	import {displayError, handleForm} from '../utils/form';

	handleForm<User>(async (result, response, form) => {
		switch (response.status) {
			case 200:
				document.cookie = `session-token=${result}; path=/`;
				window.location.href = '/';
				break;
			case 401:
				displayError(result, form);
				break;
			default:
				displayError('An error occurred, please try again later', form);
				break;
		}
	}, false);
</script>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	a {
		color: #5febff;
	}

	.content {
		height: 30rem;
		width: 25rem;
		padding-top: 10rem;
		margin-bottom: 5rem;
	}
</style>
