---
import Form from '../components/Form.astro';
import Layout from '../layouts/Layout.astro';

interface User {
	username: string;
	email: string;
	password: string;
}

const fields = {
	username: {label: "Username", required: true, autocomplete: true, type: "text", placeholder: "Jérome"},
	email: {label: "Email", required: true, autocomplete: true, type: "email", placeholder: "jerome.jouan@ynov.com"},
	password: {
		label: "Password", required: true,
		autocomplete: true, placeholder: "My-Passw0rd", type: "password"
	},
};

export const prerender = true;
---
<Layout title="login">
	<main>
		<div class="content">
			<Form route="/auth/signup" fields={fields} submitLabel="Sign Up" title="Sign Up">
				<a href="/login">Already have an account ?</a>
			</Form>
		</div>
	</main>
</Layout>

<script>
	import {displayError, handleForm} from '../utils/form';

	handleForm<User>(async (user, response, form) => {
		if (response.status === 200) window.location.href = '/';
		else if (response.status in [400, 409, 500]) displayError(await response.text(), form);
	}, false);
</script>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	a {
		color: #5febff;
	}

	.content {
		height: 52vh;
		width: 25rem;
		padding-top: 10rem;
	}
</style>
