<header>
	<a href="/" class="cards-link">Cards</a>
	<span class="empty"></span>
	<a href="/" class="logo-link">
		<img alt="logo" class="logo" src="/pokestore.png"/>
	</a>
</header>

<style>
	:root {
		--header-color: #232323;
		--header-text-color: #aeaeae;
	}

	header {
		align-items: center;
		background-color: var(--header-color);
		border-radius: 30px;
		display: flex;
		gap: 2rem;
		justify-content: space-between;
		margin: var(--header-padding);
		padding: 1rem 2rem;
		position: relative;
		z-index: 1;
	}

	header a {
		text-decoration: none;
		color: var(--header-text-color);
		display: flex;
		align-items: center;
	}

	.logo {
		object-fit: contain;
		aspect-ratio: 1/1;
	}

	.logo-link, .logo {
		width: 4rem;
		height: 4rem;
	}

	.logo-link {
		position: absolute;
		top: 100%;
		left: 50%;
		padding: .6rem;
		border-radius: 50%;
		translate: -50% -50%;
		background-image: linear-gradient(transparent 50%, var(--header-color) 50%);
	}

	.empty {
		flex: 1;
	}

	@media (max-width: 768px) {
		header {
			padding: 0.75rem 1.5rem;
		}

		.logo-link, .logo {
			width: 3.5rem;
			height: 3.5rem;
		}
	}
</style>
