<header class="relative m-2 lg:mb-10 2xl:m-2 py-3 px-8 max-lg:px-6 flex items-center justify-between gap-8 rounded-full z-10 bg-gray-800">
	<a href="/" class="text-gray-400">Cards</a>
	<span class="flex-1"></span>
	<a href="/" class="logo-link absolute left-1/2 top-full max-lg:top-3/4 -translate-x-1/2 -translate-y-1/2 p-2.5 rounded-full">
		<img alt="logo" class="object-contain aspect-square size-16 max-lg:size-12" src="/pokestore.png"/>
	</a>
</header>

<style>
	.logo-link {
		background-image: linear-gradient(transparent 50%, theme(textColor.gray.800) 50%);
	}
</style>
