---
import {Image} from 'astro:assets';
import pokestore from '~/assets/pokestore.png';
---

<header class="w-full p-2 pb-6 lg:pb-12">
	<div class="relative py-1.5 xs:py-2.5 lg:py-3 px-4 xs:px-6 lg:px-8 flex items-center justify-between gap-8 rounded-full z-10 bg-gray-800">

		<a href="/" class="text-gray-400 max-xs:text-sm">Cards</a>
		<span class="flex-1"></span>
		<a href="/" class="logo-link absolute left-1/2 top-full xs:top-3/4 lg:top-full -translate-x-1/2 -translate-y-1/2 p-2 lg:p-2.5 rounded-full">
			<Image
				alt="logo"
				densities={[
					0.2,
					0.5,
					1,
				]}
				loading="eager"
				class="object-contain aspect-square size-10 xs:size-12 lg:size-16"
				src={pokestore}
			/>
		</a>
	</div>
</header>

<style>
	.logo-link {
		background-image: linear-gradient(transparent 50%, theme(textColor.gray.800) 50%);
	}
</style>
