---
import type {HTMLAttributes} from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
	title: string;
}

const {title} = Astro.props;
---
<div class="title">
	<h1>{title}</h1>
	<h2>{title}</h2>
</div>

<style>
	.title {
		align-items: center;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		position: relative;
		text-wrap: nowrap;
		width: fit-content;
	}

	h1 {
		color: rgba(24, 24, 24, 0.8);
		font-size: 7rem;
		position: absolute;
		top: -2.5rem;
		width: max-content;
		z-index: -1;
	}

	h2 {
		color: #ffffff;
		font-size: 4rem;
	}

	h1, h2 {
		margin: 0;
		padding: 0;
		user-select: none;
	}

	@media (max-width: 768px) {
		h1 {
			font-size: 5rem;
		}

		h2 {
			font-size: 3rem;
		}
	}
</style>
