---
import "../styles/colors.css";

interface Props {
  type: string;
}

const { type } = Astro.props;
---
<p class="card-type">
    <span class={type.toLowerCase()} >{type}</span>
</p>
<style>
    .card-type {
        margin: 0;
        padding: 0;
    }

    .card-type > span {
        background-color: color-mix(in oklab, var(--type-color), white 50%);
        border: 1px solid var(--type-color);
        border-radius: 1rem;
        color: color-mix(in oklab, var(--type-color), black 25%);
        padding: 0.25rem;
    }
</style>